@mixin round-button($color, $color-hover) {
  width: 80px;
  height: 80px;
  padding: 0;
  border-radius: 50%;
  border: solid 2px white;
  color: white;
  background: $color;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.2s ease;

  &:hover {
    background: $color-hover;
  }

  &:active {
    background: $color-hover;
  }

  &:disabled {
    background-color: var(--color-base-300);
    border-color: white;
  }
}

.round-button-green {
  @include round-button(var(--color-success), var(--color-success-content));
}

.round-button-red {
  @include round-button(var(--color-error), var(--color-error-content));
}

.round-button-yellow {
  @include round-button(var(--color-warning), var(--color-warning-content));
}
