.left-pan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  ul {
    list-style: none;
    padding: 0;

    font-size: 1.5rem;
  }

  li.github,
  li.discord {
    display: flex;
    align-items: center;
    min-height: 2rem;
    margin-bottom: 1rem;
    padding-left: 2.2rem;
    background-repeat: no-repeat;
    background-size: 1.5rem 1.5rem;
    background-position: left center;
    transition: transform 0.2s cubic-bezier(0.4, 0.2, 0.2, 1);
  }

  li.github:hover,
  li.discord:hover {
    transform: scale(1.08);
    z-index: 1;
  }

  li.github {
    background-image: url('/images/github.png');
  }

  li.discord {
    background-image: url('/images/discord.png');
  }
}
