@use '../styles/buttons.scss';

@mixin timer-button($color) {
  border: 1px solid white;
  border-radius: 0.5rem;

  background-color: transparent;
  color: white;

  font-size: 1rem;
  font-weight: bold;

  transition: all 0.3s ease;

  &:hover {
    background-color: $color;
    border-color: $color;
  }
}

.timer {
  &-display {
    &-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      height: 33vh;

      gap: 2rem;

      .timer-button-start {
        @extend .round-button-green;
      }

      .timer-button-stop {
        @extend .round-button-red;
      }

      .timer-button-reset {
        @extend .round-button-yellow;
      }
    }
  }
}

.button-back {
  @include buttons.round-button('transparent', rgb(98, 98, 98));
  text-decoration: none;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-button-add {
  border: 1px solid white;
  border-radius: 0.5rem;

  background-color: transparent;
  color: white;

  font-size: 1rem;
  font-weight: bold;

  transition: all 0.3s ease;

  &:hover {
    background-color: var(--color-success);
    border-color: var(--color-success);
  }

  width: 1.5rem;
  height: 1.5rem;

  width: 12rem;
  height: 1.5rem;
}

.timer-button-remove {
  border: 1px solid white;
  border-radius: 0.5rem;

  background-color: transparent;
  color: white;

  font-size: 1rem;
  font-weight: bold;

  transition: all 0.3s ease;

  background-color: var(--color-error);

  &:hover {
    background-color: var(--color-error-content);
    border-color: var(--color-error-content);
  }

  width: 1.5rem;
  height: 1.5rem;
}
