@import '../styles/buttons.scss';
@import '../styles/responsive.scss';

@mixin timer-button($color) {
  border: 1px solid white;
  border-radius: 0.5rem;

  background-color: transparent;
  color: white;

  font-size: 1rem;
  font-weight: bold;

  transition: all 0.3s ease;

  &:hover {
    background-color: $color;
    border-color: $color;
  }
}

$green: rgb(50, 207, 50);
$red: rgb(255, 87, 87);

input[type='text'] {
  color: white;
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: inherit;
}

input[type='color'] {
  border: none;
  background: transparent;
  text-align: center;
  font-size: inherit;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  cursor: pointer;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  &:focus {
    outline: none;
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.timer {
  &-display {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &-info {
      font-size: 8vw;

      @media screen and (orientation: landscape) {
        font-size: 8vh;
      }

      height: 33vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      color: white;
    }

    &-time {
      font-size: 15vw;
      font-weight: bold;
      color: white;

      height: 33vh;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      height: 33vh;

      gap: 2rem;

      .timer-button-start {
        @extend .round-button-green;
      }

      .timer-button-stop {
        @extend .round-button-red;
      }

      .timer-button-reset {
        @extend .round-button-yellow;
      }
    }
  }

  &-settings {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    .timer-name {
      flex-grow: 1;

      font-size: 3rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .timer-details {
      flex-grow: 8;

      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .timer-rounds {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .timer-begin,
      .timer-end,
      .timer-round {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 75vw;

        @include desktop {
          width: 50%;
        }

        margin-bottom: 0.2rem;
        margin-top: 1rem;
        margin-left: 3vw;
        margin-right: 3vw;

        padding: 0.5rem;

        border: 1px solid white;
        border-radius: 0.5rem;

        .input-wrapper {
          display: flex;
          flex-direction: row;

          gap: 1ch;

          input {
            color: white;
            background-color: transparent;
            border: none;
            text-align: end;
            font-size: inherit;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .timer-round {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .timer-round-pre,
        .timer-round-post {
          width: 100%;

          margin-top: 0.5rem;
          margin-bottom: 0.5rem;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          @include desktop {
            justify-content: center;
            gap: 2rem;
          }
        }

        .timer-round-name {
          width: 100%;

          margin-bottom: 0.5rem;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
        }

        .timer-round-chronos {
          width: 100%;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .timer-round-chrono {
            width: 100%;

            margin-bottom: 0.2rem;
            margin-top: 0.2rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .wrapper {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;

              @include desktop {
                margin: 0 5rem;
              }

              flex-grow: 2;

              margin-left: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    background: transparent;
  }

  &-button-back {
    @include round-button('transparent', rgb(98, 98, 98));
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.timer-name {
  text-transform: uppercase;
  font-weight: bold;
}

.timer-button-add {
  @include timer-button($green);

  width: 50%;
}

.timer-button-remove {
  @include timer-button($red);

  width: 1.5rem;
  height: 1.5rem;
}

.group-item {
  transition: all 0.5s;
}

.group-item-enter,
.group-item-exit-to {
  opacity: 0;
}

.group-item-enter-active,
.group-item-exit-active {
  transition:
    transform 0.4s,
    opacity 0.4s;
}
