@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import 'tailwindcss';
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: 'chrono-sport';
  default: true;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: #262726;
  --color-base-200: #343434;
  --color-base-300: #1a1a1a;
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #1fce6d;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #f3c501;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ea4a34;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
  --color-yellow: #ede845;
  --color-orange: #f29c2c;
  --color-green: #34ec86ff;
  --color-red: #f7624fff;
}

@layer base {
  html {
    font-family: 'Roboto Mono', monospace;
  }
}
