@use '../../styles/buttons.scss';

.chronometer {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 100vh;

  gap: 5rem;

  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    background: transparent;
  }

  &-button-back {
    @include buttons.round-button('transparent', rgb(98, 98, 98));
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-time {
    font-size: 10vw;
    font-weight: bold;
    color: white;
    font-family: monospace;
  }

  &-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    .chronometer-button-start {
      @extend .round-button-green;
    }

    .chronometer-button-stop {
      @extend .round-button-red;
    }

    .chronometer-button-reset {
      @extend .round-button-yellow;
    }
  }
}
